* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    min-height: calc(100vh - 6.5rem);
}

.content-wrapper {
    min-height: calc(100vh - 6.5rem);
    max-height: calc(100vh - 6.5rem);
    padding: 1rem;
    width: calc(100vw - 200px);
    overflow-y: auto;
    overflow-x: hidden;
    /* scrollbar-width: thin; */
    /* scrollbar-color: black gray; */
}


