p {
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  gap: 2rem;
  padding: 10px;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }
}
