#user-cart {
  min-height: calc(100vh - 6.5rem);
  max-height: calc(100vh - 6.5rem);
  overflow: auto;
  padding-top: 1rem;
  margin: auto;
}

#table {
  width: 90%;
}

@media screen and (max-width: 800px) {
  #user-cart {
    width: 100vw;
  }
  #table {
    width: 600px;
  }
}

@media screen and (max-width: 500px) {
  #user-cart {
    min-height: calc(100vh - 8rem);
    max-height: calc(100vh - 8rem);
  }
}
